*~
*.a
aclocal.m4
AUTHORS
autom4te.cache
bcon-col-view
bcon-speed
bson-metrics
bson-to-json
bson-validate
ChangeLog
*.cmake
CMakeCache.txt
CMakeFiles
compile
config.*
configure
depcomp
.deps
.dirstamp
.DS_Store
*.exe
*.gir
INSTALL
install-sh
json-to-bson
*.la
libbson-1.0.so*
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
*.pc
README
stamp-h1
*.swp
test-libbson
test.log
*.typelib
xcuserdata
